<p id="notice"><%= notice %></p>
<h1>Messages</h1>
<% if current_user %>
  <strong><a href="<%= logout_path %>" role="button">Logout</a></strong>
<% end %>
<div>
  <hr />
  <a href="<%= admin_messages_path %>">All Messages</a>
</div>
<% @messages.each do |message| %>
  <div class="card-body">
    <hr />
    <% if message.hidden? %>
      <p id=<%= "message-#{message.id}" %> class="card-text text-red"><%= message.entry %></p>
    <% else %>
      <p id=<%= "message-#{message.id}" %> class="card-text"><%= message.entry %></p>
    <% end %>
    <p class="card-text">
      <small class="text-muted">
        <span class="text-muted">Added <%= message.created_at.to_s(:short) %> by <%= message.name %></span>
      </small>
    </p>
    <strong>
      <%= link_to admin_message_path(message.id), method: 'put', remote: true do %>
        <span id=<%= "button-text-#{message.id}" %>><%= display_text(message) %></span>
      <% end %>
    </strong>
  </div>
<% end %>
